<h1>Show Task</h1>

<h3><%= @task.task_name %></h3>

<p><%= @task.task_details %></p>

<%= link_to 'Edit', edit_task_path(@task.id) %>
<%= link_to 'Delete', task_path(@task.id), method: :delete %>
<%= link_to 'Back', tasks_path %>